<div class="card">

    <div class="card-header">
        {{title}} <br/>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"> Designation Filter:</div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6">
                <h6>Filtered by : </h6>
            </div>
        </div>
        <div class="table-responsive">
            @if(employees.length){
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" >avatar</button>
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Designation</th>
                            <th>Insurance Balance</th>
                            <th>RBT progress</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(employee of employees; track employee.id){
                            <tr>
                                <td> image </td>
                                <td>{{employee.firstName}}</td>
                                <td>{{employee.lastName}}</td>
                                <td>{{employee.designation}}</td>
                                <td>{{employee.insuranceBalance}}</td>
                                <td>{{employee.rbtProgress}}</td>
                            </tr>    
                        }
                    </tbody>
                </table>    
            }
        </div>
    </div>
</div>